{% extends 'base.html' %}

{% load static %}

{% load custom_template_tags %}

{% block content %}

<body id="indexBody">
    <!-- Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#indexBody">Find Arts</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#indexBody">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#search">Search</a></li>
                    <li class="nav-item"><a class="nav-link" href="#inspiration">Inspiration</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Hero-->
    <header class="hero" id="hero">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">FIND ARTS</h1>
                    <h2 class="hero-text text-white-50 mx-auto mt-2 mb-5">Your online art gallery</h2>
                    <a class="btn btn-primary" href="#search">Get Started</a>
                </div>
            </div>
        </div>
    </header>
    <!-- Search-->
    <section class="search-section text-center" id="search">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="search-headline text-white mb-4 mx-auto">Find the artwork you're looking for</h2>
                    <p class="search-text">Search for any painting, sculpture or photo that's on your mind. You can look it up using either the name of the artist or the name of the artwork itself.</p>
                    <div class="forms row">
                        <div class="col-lg-6 order-1 order-lg-1">
                            <div class="form-box">
                                <form method="GET" action="{% url 'search_artist' %}">
                                    <div class="input-box">
                                        {{ artist_search_form.first_name }}
                                        <label>{{ artist_search_form.first_name.label }}</label>
                                    </div>
                                    <div class="input-box">
                                        {{ artist_search_form.last_name }}
                                        <label>{{ artist_search_form.last_name.label }}</label>
                                    </div>
                                    <button class="submit-btn" type="submit">Search</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 order-2 order-lg-2">
                            <div class="form-box">
                                <form method="GET" action="{% url 'search_artwork' %}">
                                    <div class="input-box">
                                        {{ artwork_search_form.artwork_name }}
                                        <label>{{ artwork_search_form.artwork_name.label }}</label>
                                    </div>
                                    <button class="submit-btn" type="submit">Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Inspiration -->
    <section class="paintings-section bg-light" id="inspiration">
        <div class="container px-4 px-lg-5">
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <!-- Carousel-->
                <div id="paintings-carousel" class="carousel carousel-dark slide" data-bs-ride="false">
                    <div class="carousel-inner">
                        {% for painting in inspiration_data %}
                        <div class="carousel-item {% if painting == inspiration_data|index:0 %}active{% endif %}">
                            <div class="carousel-image-div mx-auto">
                                <img src="{{ painting|index:'image' }}" class="carousel-image d-block img-fluid mb-3 mb-lg-0">
                            </div>
                            <div class="justify-content-center">
                                <h2 class="text-black-50 mx-auto mt-2"><a href="{% url 'artwork' artwork_id=painting|index:'id' artist_name=painting|index:'artistName' %}">{{ painting|index:"title" }}</a></h2>
                                <h2 class="text-black-50 mx-auto mt-2"><a href="{% url 'artist' artist_url=painting|index:'artistUrl' artist_id=painting|index:'artistId' %}">{{ painting|index:"artistName" }}</a></h2>
                                {% if painting|index:'completitionYear' %}
                                <h2 class="text-black-50 mx-auto mt-2">({{ painting|index:'completitionYear' }})</h2>
                                {% else %}
                                <h2 class="text-black-50 mx-auto mt-2">(Year unknown)</h2>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#paintings-carousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#paintings-carousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </section>

    {% endblock content %}
